{% extends 'index.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="../css/style-tableau.css">
<script src="../js/jquery.js" defer ></script>
<script src="../js/excel.js" defer ></script>
<script src="../js/filesaver.js" defer ></script>
<script src="../js/MakeExcel.js" defer ></script>
{% endblock %}
{% block title %}Rotation index{% endblock %}

{% block body %}
    <h1 class="titre" >L'Air des Pichoulis</h1>

    <a href="{{ path('rotation_new') }}"><button>Crée Tache</button></a>
    {% if is_granted('ROLE_ADMIN') %}
    <button id="button-a" class="btn btn-primary" >Télécherger excel</button>
    <form action="{{ path('fos_user_registration_register') }}">
        <button type="submit" class="btn btn-primary">inscription</button>
    </form>
    <form action="/admin">
        <button type="submit" class="btn btn-primary">Administration</button>
    </form>
    {% endif %}
    
    <form action="{{ path('fos_user_security_logout') }}">
        <button type="submit" class="btn btn-primary">Deconnexion</button>
    </form>
  
    

    <table id="mytable" class="table table-triped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temps</th>
                <th>Zone</th>
                <th>Sous-zone</th>
                <th>Planche</th>
                <th>Legume</th>
                <th>Variété</th>
                <th>Tache</th>
                <th>Choix</th>
                <th>Quantité</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rotation in rotations %}
            <tr>
                <td data-label="Date">{{ rotation.date ? rotation.date|date('d/m/Y H:i:s') : '' }}</td>
                <td data-label="Temps">{{ rotation.time }}</td>
                <td data-label="Zone">{{ rotation.zone }}</td>
                {% if rotation.subarea == null %}
                <td data-label="Sous-zone">x</td>
                {% else %}
                <td data-label="Sous-zone">{{ rotation.subarea }}</td>
                {% endif %}
                {% if rotation.planche == null %}
                <tddata-label="Planche">x</td>
                {% else %}
                <td data-label="Planche">{{ rotation.planche }}</td>
                {% endif %}
                <td data-label="Legume">{{ rotation.legume }}</td>
                <td data-label="Variété">{{ rotation.variete }}</td>
                <td data-label="Tache">{{ rotation.tache }}</td>
                {% if rotation.choice == null %}
                <td data-label="Choix">x</td>
                {% else %}
                <td data-label="Choix">{{ rotation.choice }}</td>
                {% endif %}
                {% if rotation.amount == null %}
                <td data-label="Quantité">x</td>
                {% else %}
                <td data-label="Quantité">{{ rotation.amount }}</td>
                {% endif %}
                {% if rotation.comment == null %}
                <td data-label="Commentaire">Aucun commentaire</td>
                {% else %}
                <td data-label="Commentaire">{{ rotation.comment }}</td>
                {% endif %}
                <td data-label="Action">
                    <a href="{{ path('rotation_show', {'id': rotation.id}) }}">Regarder</a>
                    <a href="{{ path('rotation_new') }}"><button>Crée Tache</button></a>
                </td>
                
            </tr>
            
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}